/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus {
  outline: 0 solid;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
body {
}
a:hover {
  text-decoration: none;
}

#form {
  width: 80% !important;
  margin: 0 auto;
}

.text-center-fake {
  border: 2px solid !important;

  height: 250px;
  width: 250px;
  margin: 0 auto !important;
}

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
button#genqr {
  margin-top: 20px !important;
}

div#text-center-fake img {
  height: 245px;
  width: 250px;
}

.jumbotron.text-center h3 {
  display: none !important;
}
